/* contacto*/
.contacto .container
{
    max-width: 1100px;
    min-height:200px ;
    padding: 20px;
    
}

.contacto .rectangulo 
{
    margin-top: -5rem;
    background-color: #476956;
    border-radius: 10px;
    box-shadow:0px 1px 4px 1px  white;
}

.contacto .row 
{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .direccion
{
    color:white;
    font-size: 1.2rem;
}
.contacto button
{
    color: white;
    font-weight: bold;
    background-color:transparent ;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition:all 0.2s ease-in-out ;

}

.contacto button i 
{ color: white;
    font-size: 1.3rem;
    transition: all 0.2 ease-in-out ;

}

